# Ignorer les fichiers et dossiers de compilation
/gama.extension.GTFS/bin/
*.class
.DS_Store

# Ignorer les fichiers spécifiques au projet
gama.extension.GTFS/bin/docGAMA.xml
gama.extension.GTFS/gaml/docGAMA.xml

# Ignorer les classes Java compilées
gama.extension.GTFS/bin/gama/extension/GTFS/GTFS_reader.class
gama.extension.GTFS/bin/gama/extension/GTFS/TransportStop.class
gama.extension.GTFS/bin/gama/extension/GTFS/TransportRoute.class
gama.extension.GTFS/bin/gama/extension/GTFS/TransportTrip.class
gama.extension.GTFS/bin/gaml/additions/GTFS/GamlAdditions.class

# Ignorer tout le répertoire /gaml/ si non nécessaire
/gaml/
